<header>
  <h1>{{ nomeDaEmpresa }}</h1>
  <p>Conheça nossos especialistas</p>
</header>

<div>
  <input
    type="text"
    [(ngModel)]="filtroEspecialidade"
    placeholder="Filtrar por especialidade"
    (keyup.enter)="filtrarConsultores()"
  >
  <button class="btnPesquisar" (click)="filtrarConsultores()">Pesquisar</button>
</div>

<div class="container">
  <ng-container *ngFor="let consultor of consultoresFiltrados">
    <app-consultor [Consultor]="consultor"></app-consultor>
  </ng-container>
</div>

